:root{
    --colorthemered: rgb(207, 24, 24);
}

body{
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

.list-group{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 0px auto;
    width: 1300px;
}

.list-group li{
    list-style-type: none;
    
}

.list-group-item:hover{
    cursor: pointer;
    color: var(--colorthemered);
    border: solid var(--colorthemered); 
    text-decoration: underline;
}

.pokemon-image{
    width: 200px;
}

  #exampleModalCenter img{
    margin: 0px auto;
  }



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .list-group{
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
    }
} 


@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

    .list-group{
        grid-template-columns: repeat(2, 1fr);
        width: 480px;
    }
} 

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {

    .list-group{
        grid-template-columns: repeat(3, 1fr);
        width: 768px;
    }
} 






