:root{
    --colorthemered: rgb(207, 24, 24);
}

body{
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

h1{
    margin: 10px;
}

p{
    margin: 10px;
}

.btn{
    margin: 2px;
}

.list-group{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 0px auto;
    width: 1400px;
    grid-gap: 5px;
}

.list-group li{
    list-style-type: none;
}

.card{
    height: 325px;
}

.card:hover{
    cursor: pointer;
    color: var(--colorthemered);
    background-color: rgb(253, 255, 242);
    border: solid var(--colorthemered); 
    text-decoration: underline;
}

.pokemon-image{
    width: 200px;
    margin: 0px auto;
}

#exampleModalCenter img{
    margin: 0px auto;
}


footer{
    margin-top: 50px;
}


@media only screen and (min-width: 1px) and (max-width: 480px) {

    .list-group{
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
    }
} 


@media only screen and (min-width: 481px) and (max-width: 768px) {

    .list-group{
        grid-template-columns: repeat(2, 1fr);
        width: 480px;
    }
} 

@media only screen and (min-width: 769px) and (max-width: 1486px) {

    .list-group{
        grid-template-columns: repeat(3, 1fr);
        width: 768px;
    }
} 

@media only screen and (min-width: 1486px) and (max-width: 1506px) {

    .list-group{
        grid-template-columns: repeat(4, 1fr);
        width: 768px;
    }
} 






